<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Kainos Employees</h1>
    <table>
      <thead>
        <tr>
          <th>Employee Number</th>
          <th>Name</th>
          <th>Address</th>
          <th>Salary</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% employees.forEach(employee => { %>
          <tr>
            <td><%= employee.employeeNumber %></td>
            <td><%= employee.name %></td>
            <td><%= employee.address %></td>
            <td>£<%= employee.salary.toLocaleString() %></td>
            <td><%= employee.role %></td>
            <td>
              <form action="/employees/delete/<%= employee.id %>" method="post">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete <%= employee.name %>?')">
              </form>
            </td>
            <td><a href="/employees/update/<%= employee.employeeNumber %>">Edit</a></td>
            <td><a href="/employees/<%= employee.employeeNumber %>">View</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

      <form action="/employees/add" method="get">
        <input type="submit" value="Create New Employee">
    </form> 

    <form action="/roles" method="get">
        <input type="submit" value="View Job List">
    </form> 
  </body>
</html>
